In [4]:
"hello Pyhotn"

'hello Pyhotn'

In [5]:
4*6

24

In [7]:
8/4  # we are getting float numbers and we want only quotient value that is only interger


8//4

2

In [8]:
8+9-2

15

In [9]:
(8+6)*3

42

In [10]:
2**3

8

In [11]:
10%3

1

In [12]:
#interegr,float,string
'Aadhya'

'Aadhya'

In [16]:
print('jyo')

jyo

In [18]:
print("jyo's bag")

jyo's bag

In [20]:
print('jyo\'s "laptop"')

jyo's "laptop"

In [21]:
'jyothi'+'jyothi'

'jyothijyothi'

In [23]:
10*'Jyothi'

'JyothiJyothiJyothiJyothiJyothiJyothiJyothiJyothiJyothiJyothi'

In [24]:
#\n means new line in python

print("c:\Docs\naresh")

c:\Docs
aresh

In [1]:
#want to print raw string as itis without special meansing /n

print(r'c:\Docs\naresh')

c:\Docs\naresh

In [4]:
#variables in python'  
#no need to define the type of the variable in pyhotn 

x='jyo'
y='Aadhya'
z=x+y
z

'jyoAadhya'

In [5]:
name='Aadhya'
name

'Aadhya'

In [33]:
name+'jyothi'

'Aadhyajyothi'

In [44]:
name
name[0]
name[5]
name[-1]
name[-3]
name[0:2]
name[1:4]
name[:]
name[1:]
name[:4]


#strings in python is immtable that is we cant change the value

'Aadh'

In [6]:
name='aadhya'
len(name)

6

In [1]:
#lists
#empty list creation
nums=[]
nums

[]

In [50]:
#list craetion
L1=[20,30,40,50,60,70]
L1
L2=['one','two','three']
L2
L3=[[1,2],[3,4]]
L3

[20, 30, 40, 50, 60, 70]

In [55]:
# we can access the values in the list thiough index values

L[0]
L[:]
L[1:]
L[3:]

[50, 60, 70]

In [77]:
#lists is a combination of different data elements 

List=['Jyothi',30,10.6,'ravi']
List

['Jyothi', 30, 10.6, 'ravi']

In [60]:
#lists are mutable that is we can change the value of the element
List[0]='Aadhya'
List

['Aadhya', 30, 10.6, 'ravi']

In [78]:
#list operations
List=['one',2,3.5,'ravi']
List

['one', 2, 3.5, 'ravi']

In [80]:
len(List)

4

In [82]:
List.append('jyo')#appebd will add value to the last element in the list
List

['one', 2, 3.5, 'ravi', 'jyo', 'jyo']

In [1]:
List
#List.remove(2)

list.append('mohit')


list.append('mohit')

NameError: name 'List' is not defined

In [95]:
List

[3.5, 'ravi', 'jyo', 'jyo']

In [98]:
#append and extend

list1=['one','two','three']
list2=['four,five']
list1.append(list2)
list1

['one', 'two', 'three', ['four,five']]

In [101]:
list1.extend(list2)
list1

['one', 'two', 'three', ['four,five'], 'four,five', 'four,five']

In [106]:
#delet (to remove item based on index)

List
del List[0]
List

['jyo', 'jyo']

In [111]:
#Reverse
List3=[1,2,3,4]
List3.reverse()
List3

[4, 3, 2, 1]

In [116]:
#list related keywords in python--Keyword IN is used to test of an items is in the list
List6=['one','two','three']
if 'two' in List6:
     print('elemet exist')

elemet exist

In [117]:
if 'six' not in List6:
     print('element not exist')

element not exist